@tailwind base;
@tailwind components;
@tailwind utilities;

.pridi {
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
}

.press-start {
  font-family: "Press Start 2P", system-ui;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
